.memory-game {
	position: relative;
	cursor: pointer;
	perspective: 700px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
}
.memory-game h1 {
	font-size: 30px;
}

/* Card section */
.memory-game__card-section li.card {
	list-style-type: none;
}
.memory-game__card-section li.card span {
	font-size: 25px;
	font-weight: bold;
	background-color: #f27922;
	border-radius: 5px;
	display: block;
	padding: 5px;
}
.memory-game__card-section #cards-wrapper {
	/* width: 720px; */
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	/* grid-auto-rows: 50px; */
	grid-gap: 10px;
}
.memory-game__card-section #cards-wrapper {
	position: relative;
	cursor: pointer;
	perspective: 700px;
}

.memory-game__card-section li.card span.card-number {
	display: none;
}

.memory-game__card-section li.card.active span.card-number {
	display: block;
}

.memory-game .memory-game__card-section li.card.don span {
	background-color: green;
	display: block;
}
