.memory-game {
	position: relative;
	cursor: pointer;
	perspective: 700px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
}
.memory-game h1 {
	font-size: 30px;
}

/* Card section */
.memory-game__card-section li.card {
	list-style-type: none;
}
.memory-game__card-section li.card span {
	font-size: 25px;
	font-weight: bold;
	background-color: #f27922;
	border-radius: 5px;
	display: block;
	padding: 5px;
}
.memory-game__card-section #cards-wrapper {
	/* width: 720px; */
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	/* grid-auto-rows: 50px; */
	grid-gap: 10px;
}
.memory-game__card-section #cards-wrapper {
	position: relative;
	cursor: pointer;
	perspective: 700px;
}

.memory-game__card-section li.card span.card-number {
	display: none;
}

.memory-game__card-section li.card.active span.card-number {
	display: block;
}

.memory-game .memory-game__card-section li.card.don span {
	background-color: green;
	display: block;
}

/* NEW CODE */
.memory-game__reset {
	margin-top: 16px;
}
/* https://getcssscan.com/css-buttons-examples */
/* CSS */
.button-5 {
	align-items: center;
	background-clip: padding-box;
	background-color: #fa6400;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	justify-content: center;
	line-height: 1.25;
	margin: 0;
	min-height: 3rem;
	padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
	position: relative;
	text-decoration: none;
	transition: all 250ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: baseline;
	width: auto;
}

.button-5:hover,
.button-5:focus {
	background-color: #fb8332;
	box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
	transform: translateY(-1px);
}

.button-5:active {
	background-color: #c85000;
	box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
	transform: translateY(0);
}
